h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 150px;
  text-align: center;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}

.playagain {
  margin: 0, auto;
  border: 3px solid green;
}

.button {
  margin: 0 auto;
  text-align: center;
}